################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs/glitchcatcz.github.io/FileContentIndex/4f9a5363-ae21-42e8-b20f-7480c1b4aa46.vsidx
